/*reset start*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*reset end*/

@font-face {
  font-family: "SF Pro Text";
  src: url("./Assets/fonts/1c45e28f8e86cc89876f003b953cc3e9.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url("./Assets/fonts/SFPRODISPLAYREGULAR.OTF");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  src: url("./Assets/fonts/SFPRODISPLAYBOLD.OTF");
}

/*global start*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.216667px;
  color: #fff;
  background-image: url(./Assets/img/4@2x.webp);
  background-size: 100%;
  background-repeat: no-repeat;
}
button:active,
a:active {
  opacity: 0.6;
}

/*global end*/

/*header start*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 0 20px;
}
.header-close {
  position: relative;
  width: 16px;
  height: 16px;
}
.header-close_line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 50%;
}

.header-close_line:first-child {
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

.header-close_line:last-child {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}
.header-restore a {
  font-size: 13px;
  letter-spacing: -0.216667px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
/*header end*/

/*main start*/
.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  margin-top: 157px;
  max-width: 285px;
}
.title {
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.list {
  margin-top: 30px;
}
.list-item {
  display: flex;
  align-items: center;
  font-family: "SF Pro Text", sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.684495);
}
.list-item::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 10px;
}
.list-item_first::before {
  background-image: url(/Assets/svg/unlimitedDocs.svg);
  background-position: center;
}
.list-item_sec::before {
  background-image: url(/Assets/svg/export.svg);
  background-position: center;
}
.list-item_third::before {
  background-image: url(/Assets/svg/noAds.svg);
  background-position: center;
}

.card-container {
  margin-top: 52px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.card {
  background-image: url(./Assets/svg/shape-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 131px;
  height: 162px;
  position: relative;
  text-align: center;
  opacity: 0.25;
}
.card-title {
  font-size: 18.7px;
  line-height: 22px;
  margin-top: 23px;
}
.card-price {
  font-style: normal;
  font-size: 15.4px;
  font-weight: 400;

  line-height: 15px;
  margin-top: 16px;
}
.card-price strong {
  font-weight: 700;
  font-size: 24px;
}
.card-line {
  position: absolute;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  width: 137px;
  height: 20px;
  background: #495795;
  left: -3px;
  bottom: 37px;
}
.card-price-bot {
  font-size: 11.9988px;
  line-height: 14px;
  margin-top: 43px;
}
.card-sec {
  background-image: url(./Assets/svg/shape-2.svg);
}
.discount-circle {
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #db0000;
  border-radius: 50%;
  top: 0;
  right: 0;
}
.card-active {
  transform: scale(1.1);
  opacity: 1;
}
.continue {
  margin-top: 24px;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  background: linear-gradient(270deg, #1987ff 0%, #19ccff 100%);
  border-radius: 30px;
  color: #ffffff;
  padding: 18px 104.5px;
  border: none;
}
/*main end*/

/*footer start*/
.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin-top: 16px;
  height: 100%;
  padding: 0px 20px 6px 20px;
}
.auto-rewable {
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  flex-basis: 100%;
  margin-bottom: 16px;
}
.link-Teams,
.link-priacy {
  color: #bdc0d0;
  flex-basis: 50%;
}
.link-Teams {
  text-align: left;
}
.link-priacy {
  text-align: right;
}
.home-indicator {
  position: absolute;
  bottom: 6px;
  height: 5px;
  width: 134px;
  background: #ffffff;
  border-radius: 100px;
  margin-top: 27px;
}

@media screen and (max-height: 785px) {
  .main {
    margin-top: 50px;
  }
}
/*footer end*/
